Capistrano::Configuration.instance(:must_exist).load do
  set :mysql_admin_user, 'root'
  set(:mysql_admin_pass) { Capistrano::CLI.password_prompt "Enter database password for '#{mysql_admin_user}':"}
end